
@{
    ViewData["Title"] = "TrackOrder";
}

<div class="popup-container">
    <div class="popup">
        <input type="text" id="orderId" />
        <button class="btn btn-primary" id="button">Ok</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $("#button").click(function () {
        var data = $("#orderId").val();
        $.get({
            url: "/Home/OrderTrackingStatus",
            data: { OrderId: data },
            success: function (result) {
                alert("Your Product Status is"+result);
            }
        });
    });
</script>

