.track-order-section {
  display: grid;
  place-items: center;
}

button {
  display: block;
  width: 150px;
  border: none;
  padding: 10px 15px;
}

input {
  width: 300px;
  margin-left: 18px;
  border: none;
  border-bottom: 1px solid #3498db;
}

.popup-container {
  display: none;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}
.popup {
  padding: 2rem 2.5rem;
  width: 300px;
  height: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup h2 {
  font-size: 16px;
}

.popup button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
}
